{% load static %}
<div id="top_div">
    <div id="image_div">
        <div id="flex">
            <div id="logo">
                <a href="{% url 'main' %}">
                    <img src="{% static 'image/mainlogo.png' %}" alt="" height="40px"/>
                </a>
            </div>
            <div id="topMenu">
                <ul>
                    <li><a class="menuLink" href="{% url 'who_are_we' %}">WHO ARE WE?</a></li>
                    <li><a class="menuLink" href="{% url 'memories' %}">MEMORIES</a></li>
                    <li><a class="menuLink" href="{% url 'footprints' %}">FOOT PRINTS</a></li>
                    <li><a class="menuLink" href="{% url 'tips' %}">TIPS</a></li>
                    <li><a class="menuLink" href="{% url 'contact' %}">CONTACT</a></li>
                </ul>
            </div>
            {% if not user.is_authenticated %}
                <div>
                    <div id="login_join">
                        <button type="button" onclick="location.href='{% url "login" %}'" class="button">Login</button>
                        <button type="button" onclick="location.href='{% url "join" %}'" class="button">Join</button>
                    </div>
                </div>
            {% else %}
                <div id="login_join">
                    <button type="button" class="button"
                            onclick="location.href='{% url 'logout' %}'">{{ user.nickname }}'s
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>