{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/join.css' %}">
    <style>
        #image_div {
            background-image: url("{% static 'image/gwanganli.jpg' %}");
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'travelog/header.html' %}
    <div>
        <div class="title">
            Join Form
        </div>
        <div>
            <hr class="hr_divide"/>
        </div>
        <div class="explain">
            Thanks for joining to our blog!<br/>
            You can recieve letters and newses just after joining to us.<br/>
            Just fill the short informations and join to our journey!
        </div>
        <div class="join_box">
            <form method="POST">
                {% csrf_token %}
{#                <div class="join_flex">#}
{#                    <div class="join_txt">#}
{#                        ID#}
{#                    </div>#}
{#                    {{ form.username }}#}
{#                </div>#}
{#                <div class="join_flex">#}
{#                    <div class="join_txt">#}
{#                        Password1#}
{#                    </div>#}
{#                    {{ form.password1 }}#}
{#                </div>#}
{#                <div class="join_flex">#}
{#                    <div class="join_txt">#}
{#                        Password2#}
{#                    </div>#}
{#                    {{ form.password2 }}#}
{#                </div>#}
{#                <div class="join_flex">#}
{#                    <div class="join_txt">#}
{#                        Name#}
{#                    </div>#}
{#                    {{ form.nickname }}#}
{#                </div>#}
{#                <div class="join_flex">#}
{#                    <div class="join_txt">#}
{#                        E-mail#}
{#                    </div>#}
{#                    {{ form.email }}#}
{#                </div>#}
                {{ form.as_p }}
                <div class="flex_bottom">
                    <div class="explain_bottom">
                        Are you ready to join us?
                    </div>
                    <div class="join_btn">
                        <button type="submit" class="join">Join!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}