{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <style>
        #image_div {
            background-image: url("{% static 'image/gwanganli.jpg' %}");
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'travelog/header.html' %}

    <!-- content 내부 영역 -->
    <div>
        <div class="title">
            Login
        </div>
        <div>
            <hr class="hr_divide"/>
        </div>
        <div class="flex_cont">
            <form method="POST">
                {% csrf_token %}
                <div class="log_box">
                    <div class="log_flex">
                        <div class="log_txt">
                            ID
                        </div>
                        {{ form.username }}
                    </div>
                    <div class="log_flex">
                        <div class="log_txt">
                            PW
                        </div>
                        {{ form.password }}
                    </div>
                </div>
                <div class="log_btn">
                    <button type="submit" class="login">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}