{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/memories.css' %}">
    <style>
        #image_div {
            background-image: url("{% static 'image/hanriver.jpg' %}")
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        {% include 'travelog/header.html' %}
        <!-- content 내부 영역 -->
        <div>
            <!-- content 상단 카테고리 선택 영역 -->
            <div id="cont_top">
                <div class="intro">
                    Heidi & Leo 's Unforgettable Memories<br/>
                </div>
                <div>
                    <hr class="hrLine"/>
                </div>
                <div id="select_div">
                    <div class="select_category">
                        <a class="menuLink" href="#">ALL</a>
                    </div>
                    <div class="select_category">
                        <a class="menuLink" href="#">Gimhae</a>
                    </div>
                    <div class="select_category">
                        <a class="menuLink" href="#">Busan</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 250px;">
            <div class="container">
                <div class="row row-cols-3">
                    {% for object in object_list %}
                        <div class="col">
                            <div class="view" onclick="location.href = '{% url 'memories_detail' object.pk %}'"
                                 style="cursor: pointer">
                                <div class="pht">
                                    <a href="{% url 'memories_detail' object.pk %}">
                                        <img class="square" src="{{ object.content|first_picture }}" alt=""/>
                                    </a>
                                </div>
                                <div class="text">
                                    <p class="title">
                                        {{ object.title }}
                                    </p>
                                    <div class="info_div">
                                        <div class="icon_cal">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                 class="bi bi-calendar-week" fill="currentColor"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                            </svg>
                                        </div>
                                        <div class="info_text">
                                            {{ object.created_at }}
                                        </div>
                                        {#                                    댓글부분 #}
                                        {#                                    <div class="icon_comment">#}
                                        {#                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">#}
                                        {#                                            <path fill-rule="evenodd" d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>#}
                                        {#                                        </svg>#}
                                        {#                                    </div>#}
                                        {#                                    <div class="info_text">#}
                                        {#                                        4#}
                                        {#                                    </div>#}
                                    </div>
                                    <div class="prev">
                                        {{ object.content|first_sentence }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="nav_div">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" tabindex="-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item"><a style="color: royalblue; font-weight: bold" class="page-link" href="#">1</a></li>
                            {% else %}
                                <li class="page-item"><a style="color: grey;" class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a style="color: grey;" class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a style="color: grey;" class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>


        </div>

        <!-- 하단 설정, 글쓰기 영역 -->
        <div class="foot">
            <div class="foot_icon">
                <a class="foot_link" href="{% url 'memories_write' %}">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
{% endblock %}