
.title {
    margin: auto;
    padding-top: 60px;
    width: 500px;
    height: 150px;
    font-family: Georgia;
    font-size: 25px;
    color: dimgrey;
    font-weight: bold;
    text-align: center;
}
.hr_divide {
    padding-top: 1px;
    border: 0;
    height: 2px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(104, 101, 101, 0), rgba(193, 198, 206, 0.75), rgba(0, 0, 0, 0));
}
.flex_cont {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.log_box {
    width: 250px;
    height: 120px;
}
.log_flex {
    display: flex;
    margin: 20px;
    width: 250px;
}
.log_txt {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(80, 79, 79);
    padding-top: 1px;
    padding-right: 20px;
    height: 40px;
    width: 30px;
}
.box {
    height: 23px;
    width: 150px;
    border-radius: 12px;
    border: 1px solid rgb(168, 168, 168);
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
}
.log_btn {
    width: 150px;
    height: 120px;
    padding-top: 27px;
    padding-left: 50px;
}
.login {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: rgb(107, 107, 107);
    height: 70px;
    width: 90px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.login:hover {
    color: black;
}
.login:focus {
    outline: none;
}